@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme{
    --color-primary: #CEA72B;
    --color-secondary: #24439C;
    --font-display: 'Inter', sans-serif;
}

@layer base {
    * {
        box-sizing: border-box;
    }
}


html {
  font-family: var(--font-display);
}